<ion-content class="principal_4">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo_4">
          Alertas <span>automáticas</span>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <p class="descripcion_4">
          Al hacer click en él generarás automáticamente una denuncia con tu ubicación en tiempo real. 

        </p>
      </ion-col>
    </ion-row>

    <div class="relleno_4">
      <img src="../../../assets/tutoriales/tuto04.png" class="logo-principal" />
    </div>

    <ion-row class="margen-sup_4">
      <ion-col>
        <button (click)="irTutorial05()" expand="block">Continuar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

