<ion-content color="mmt">
  
  <ion-grid>

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo">Bienvenido a Camina Seguro</h1>
      </ion-col>
    </ion-row>

    <div>
      <img src="../../../assets/icon/mmt-transparente.png" class="logo-principal">
    </div>

    <div>
      <h3 class="titulo">Registrate</h3>
    </div>
    
    <ion-button color="mmt" expand="full">Continua con Email</ion-button> 
    <ion-button color="mmt" expand="block">Continua con Facebook</ion-button> 
    <ion-button color="mmt" expand="block">Continua con Teléfono</ion-button> 

    
    <div>
      <h3>jaja
      </h3>
    </div>



  </ion-grid>






</ion-content>