<ion-content>


  <ion-grid class="principal">

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo">Bienvenido a Camina Seguro</h1>
      </ion-col>
    </ion-row>


     
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <img src="../../../assets/icon/mmt-transparente.png" class="logo-duoc">
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">

        <ion-button color="mmt" expand="full" (click)="irTutorial()" >Registrate</ion-button>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <img src="../../../assets/icon/muni_maipu.png" class="logo-maipu">
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>