
.titulo{
    text-align: center;
    font-size: 45px;
    color: black;
}

.logo-principal{
    width: 100%;
}

ion-button{
    background-color: var(--ion-color-mmt);
    color: var(--ion-color-mmt-constrast);
}