.titulo {
  text-align: center;
  font-size: 42px;
  color: rgb(255, 255, 255);
  padding: 25px;
  font-weight: bold;
}

ion-button {
  background-color: #ff69b4;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  border: 1px solid #ff69b4;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5); /* Ajusta según sea necesario */
}

.principal {
  background-image: linear-gradient(
    to bottom,
    #ff69b4,
    #e867c8,
    #c869da,
    #9c6fe9,
    #5b75f3
  );
  width: 100%;
  height: 100%;
}

.logo-app {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 100%; /* Ajusta esto según tus necesidades */
}

.logo-bajo-maipu, .logo-bajo-duoc{
  padding-top:100px ;
}
