<ion-content class="principal">



  <ion-grid class="principal">

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo">Bienvenido a Camina Seguro</h1>
      </ion-col>
    </ion-row>



    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <img src="../../../assets/icon/logo_app.svg" class="logo-app">
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">

        <ion-button color="mmt" expand="full" (click)="registroMail()">Registrate</ion-button>

      </ion-col>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">

        <ion-button color="mmt" expand="full" (click)="irTutorial()">Continuar con Facebook</ion-button>

      </ion-col>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">

        <ion-button color="mmt" expand="full" (click)="irTutorial()">Tutorial</ion-button>

      </ion-col>
    </ion-row>





    <div class="terminos">

      <ion-checkbox></ion-checkbox>
      <p> <span>Declaro tener más de 18 años y acepto
          los </span> <a href="#terminos"> Términos y condiciones, </a><span>la </span> <a href="#Politica">Política de
          Privacidad </a> <span>y la </span> <a href="#Guia">Guía comunitaria.</a> </p>
    </div>




    <ion-row >
      <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
        <img src="../../../assets/icon/logo_maipu.png" class="logo-bajo-maipu">
      </ion-col>

      <ion-col sizeLg="6" sizeMd="6" sizeXs="6">
        <img src="../../../assets/icon/duoc_mmt.png" class="logo-bajo-duoc">
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>