ion-toolbar {
    background-color: var(--ion-color-mmt);
}
.btn{
    background-color: var(--ion-color-mmt-shade);
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    font-size: 20px;
}
#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 50%;
    transform: translayeY(-50%);
}
.texto{
    background-color: var(--ion-color-mmt-shade);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: var(--ion-color-mmt-constrast);
}


ion-note {
    display: block;
  }