ion-toolbar {
  background-color: var(--ion-color-mmt);
}

.centrado {
  text-align: center;
}

.descripcion {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

ion-button{
    border: 1px solid silver;
    height: 10px;
    color: silver;
    background-color: silver;
}