<ion-content class="principal_2">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo_2">
          ¿No quieres que gente vea tu actividad? Prueba cambiar a
          <span> Modo Privado </span>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <p class="descripcion_2">
          Ve a Editar perfil y activa el modo Privado para ocultar tu foto de
          perfil y actividad a otros usuarios
        </p>
      </ion-col>
    </ion-row>

    <div class="relleno_2">
      <img src="../../../assets/tutoriales/tuto02.png" class="logo-principal" />
    </div>

    <ion-row class="margen-sup_2">
      <ion-col>
        <button (click)="irTutorial02()" expand="block">Continuar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
