<ion-content>

  <ion-grid class="rojo">

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <img src="../../../assets/icon/alarma.svg" alt="">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1>Se ha generado una alarma</h1>
      </ion-col>
    </ion-row>


    
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h3>La alarma generó un reporte automatizado con tu ubicación en tiempo real, en unos minutos un operador se dirigirá a tu ubicación.</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <p>Volviendo a la pantalla de inicio en 7 segundos...</p>
      </ion-col>
    </ion-row>



  </ion-grid>


</ion-content>