
<ion-content class="principal">


  
  <ion-grid class="principal">



      <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/acoso_callejero.png" alt="">
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/acoso_escolar.png" alt="">
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/acoso_trasnporte.png" alt="">
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/acoso_laboral.png" alt="">
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/acoso_hogar.png" alt="">
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/acoso_trasnporte_priv.png" alt="">
        </div>
      </ion-col>
    </ion-row>
      <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/seguridad.png" alt="">
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/ambulancia.png" alt="">
        </div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="4">
        <div class="texto">
          <img class="logo" src="../../../assets/icon/denuncia/bomberos.png" alt="">
        </div>
      </ion-col>
    </ion-row>






  </ion-grid>


</ion-content>