<ion-header>
  
  <ion-toolbar color="mmt">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Denuncia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="3">
        <img src="../../../assets/icon/mmt.png" alt="">
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="9">
        <div class="texto">Texto1</div>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="10">
        <div class="texto">Texto1</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="2">
        <div class="texto">Texto1</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="12">
        <div class="texto">Texto1</div>
      </ion-col>
    </ion-row>
  </ion-grid>




    <ion-list [inset]="true">
      <ion-item>
        <ion-input label="First Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Last Name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-toggle>
          <ion-label>Allow Notifications</ion-label>
          <ion-note color="medium">Unsubscribe at any time</ion-note>
        </ion-toggle>
      </ion-item>
    </ion-list>
  
    <ion-list [inset]="true">
      <ion-item>
        <ion-textarea label="Comentario" labelPlacement="floating" rows="5"></ion-textarea>
      </ion-item>
    </ion-list>
  
    <ion-note color="medium" class="ion-margin-horizontal">
      Your comments will be kept anonymous and will only be used to improve the reliability of our products.</ion-note
    >






    <ion-item lines="full">
      <ion-label>Item Lines Full</ion-label>
    </ion-item>


</ion-content>