.logo{
    padding: 30px;
}



.principal {
    background-image: linear-gradient(
      to bottom,
      #ff69b4,
      #e867c8,
      #c869da,
      #9c6fe9,
      #5b75f3
    );
    width: 100%;
    height: 100%;
  }