<ion-header>
  <ion-toolbar color="mmt">
    <ion-title>
      Noticias
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="mmt">
    <ion-searchbar placeholder="Buscar" animated (ionChange)="searchCustomer($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>


<ion-refresher slot="fixed" (ionRefresh) ="doRefresh($event)">
  <ion-refresher-content refreshingSpinner="lines-small">
  </ion-refresher-content>
</ion-refresher>





  
  <ion-list *ngIf="permission">
    <!-- ** Aqui inicia la lists -->

    <ion-list-header>
      Noticias reciente
    </ion-list-header>
    <ion-item *ngFor="let user of searchedUser">
      <ion-avatar slot="start">
        <img src="../../../assets/customers/img/mmt.png" alt="">
      </ion-avatar>
      <ion-avatar slot="end">
        <ion-icon name="search-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2 class="color-mmt">{{user.name}}</h2>
        <h3>{{user.state}}</h3>
        <p>{{user.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-label *ngIf="!permission">
    No tienes permiso broh.
  </ion-label>







  <!-- <div id="container">

    
    <button class="btn" (click)="irInicio()">Inicio</button>
    
  </div> -->
</ion-content>