<ion-header>
  <ion-toolbar color="mmt">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">Texto1</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="6">
        <div class="texto">Texto1</div>
      </ion-col>
      </ion-row>
      <ion-row>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="10">
        <div class="texto">Texto1</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="2">
        <div class="texto">Texto1</div>
      </ion-col>
      <ion-col sizeLg="4" sizeMd="4" sizeXs="12">
        <div class="texto">Texto1</div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <p>Holaaaaa
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>bknnnn</p>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <p>noo</p>
   </ion-col>
    </ion-row>




  </ion-grid>








  <div id="container">
    <button class="btn" (click)="irPerfil()">Perfil</button>
  </div>
</ion-content>