<ion-content class="principal_5">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo_5">
          Alertas <span>automáticas</span>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <p class="descripcion_5">
          Al hacer click en él generarás automáticamente una denuncia con tu ubicación en tiempo real. 

        </p>
      </ion-col>
    </ion-row>

    <div class="relleno_5">
      <img src="../../../assets/tutoriales/irTutorial05.png" class="logo-principal" />
    </div>

    <ion-row class="margen-sup_5">
      <ion-col>
        <button (click)="irTutorial05()" expand="block">Ir a Inicio</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

