<ion-content class="principal_5">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo_5">Tus Denuncias</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <p class="descripcion_5">
          Pasado el tiempo podrás editar tus denuncias directamente desde tu
          perfil, en caso de que quieras agregar alguna descripcion, imagen o
          información importante.
        </p>
      </ion-col>
    </ion-row>

    <div class="relleno_5">
      <img src="../../../assets/tutoriales/tuto05.png" class="logo-principal" />
    </div>

    <ion-row class="margen-sup_5">
      <ion-col>
        <button (click)="irTutorial05()" expand="block">Ir a Inicio</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
