<ion-content class="principal_3">
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <h1 class="titulo_3">
          ¿Que es un <span>botón de alerta?</span>
        </h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeLg="12" sizeMd="12" sizeXs="12">
        <p class="descripcion_3">
          Tu botón de Alerta se encuentra en la parte superior derecha de la pantalla y es representado por el icono rojo en pantalla 

        </p>
      </ion-col>
    </ion-row>

    <div class="relleno_3">
      <img src="../../../assets/tutoriales/tuto03.png" class="logo-principal" />
    </div>

    <ion-row class="margen-sup_3">
      <ion-col>
        <button (click)="irTutorial04()" expand="block">Continuar</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
